:root {
  --color-primary-violet: hsl(263, 55%, 52%);
  --color-primary-gray: hsl(217, 19%, 35%);
  --color-primary-dark: hsl(219, 29%, 14%);
  --color-white: hsl(0, 0%, 100%);
  --color-secondary-dark: hsl(0, 0%, 81%);
  --color-secondary-light: rgb(236, 242, 248);
  --font-family-primary: "Barlow Semi Condensed", sans-serif;
  --font-weight-n: 500;
  --font-weight-m: 500;
  --font-weight-sb: 600;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--font-family-primary);
  font-size: 1.3rem;
  font-weight: var(--font-weight-n);
  line-height: 1.2;
  background-color: var(--color-secondary-light);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.testimonials-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.5rem;
  max-width: 1100px;
  max-height: 100%;
  padding: 7rem 2.5rem 3.5rem 2.5rem;
  background-color: var(--color-secondary-light);
}

@media screen and (min-width: 43.75em) {
  .testimonials-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "t1 t1 t2" "t3 t4 t4" "t5 t5 t5";
    padding: 3.5rem 2.5rem;
  }
}

@media screen and (min-width: 68.75em) {
  .testimonials-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "t1 t1 t2 t5" "t3 t4 t4 t5";
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 90em) {
  .testimonials-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }
}

.testimonial-card {
  font-weight: var(--font-weight-m);
  text-align: left;
  padding: 2.5rem 3.4rem 3.6rem 3.2rem;
  border-radius: 10px;
  -webkit-box-shadow: 15px 10px 35px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 10px 35px rgba(0, 0, 0, 0.15);
}

.testimonial-card:first-child {
  background-color: var(--color-primary-violet);
  color: var(--color-secondary-light);
  position: relative;
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 0;
  background-size: 11rem;
}

@media screen and (min-width: 43.75em) {
  .testimonial-card:first-child {
    grid-area: t1;
  }
}

.testimonial-card:nth-child(2) {
  background-color: var(--color-primary-gray);
  color: var(--color-secondary-light);
}

@media screen and (min-width: 43.75em) {
  .testimonial-card:nth-child(2) {
    grid-area: t2;
  }
}

.testimonial-card:nth-child(3) {
  background-color: var(--color-white);
  color: var(--color-primary-gray);
}

@media screen and (min-width: 43.75em) {
  .testimonial-card:nth-child(3) {
    grid-area: t3;
  }
}

.testimonial-card:nth-child(4) {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

@media screen and (min-width: 43.75em) {
  .testimonial-card:nth-child(4) {
    grid-area: t4;
  }
}

.testimonial-card:last-child {
  background-color: var(--color-white);
  color: var(--color-primary-gray);
}

@media screen and (min-width: 43.75em) {
  .testimonial-card:last-child {
    grid-area: t5;
  }
}

.testimonial-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-card__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.testimonial-card__user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.5rem;
}

.testimonial-card__user-status {
  opacity: 0.5;
  font-size: 1.1rem;
}

.testimonial-card__title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: var(--font-weight-m);
}

.testimonial-card__content {
  opacity: 0.7;
  line-height: 1.4;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/*# sourceMappingURL=styles.css.map */